*{
    box-sizing: border-box;
}

body{
    font: 20px/24px 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #cbe3f6;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    padding: 10px 15px 30px 15px;
}

.todolist__form{
    font-size: 0;
    margin: 10px 5px 10px 5px;
}

.todolist__text{
    font: 20px/24px 'Quicksand', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 1px 15px 1px 15px;
    border: 2px solid #0d4e7a;
    border-right: 2px solid transparent;
    border-radius: 30px 0px 0px 30px;
}

.todolist__text:focus{
    border: 2px solid #0d4e7a;
    border-right: 2px solid transparent;
}

.todolist__btn{
    width: 100px;
    display: inline-block;
    font: 20px/24px 'Quicksand', sans-serif;
    font-weight: 300;
    margin: 0;
    cursor: pointer;
    border: 2px solid #0d4e7a;
    border-left: none;
    background-color: #cbe3f6;
    color: #3871c1;
    border-radius: 0px 30px 30px 0px;
}

.todolist__del-btn, .todolist__edit-btn, .todolist__get-btn, .todolist__return-btn, .todolist__done-btn{
    width: 30px;
    display: inline-block;
    font: 12px/16px 'Quicksand', sans-serif;
    font-weight: 300;
    margin: -5px  0 -5px 11px;
    cursor: pointer;
    align-self: normal;
    border: none;
    background-color: #cbe3f6;
    color: #3871c1;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
    position: relative;
}

.todolist__del-btn:hover, .todolist__btn:hover, .todolist__edit-btn:hover, .todolist__get-btn:hover, .todolist__return-btn:hover, .todolist__done-btn:hover{
    background-color: #a1cef3;
}

.todolist__del-btn:active, .todolist__btn:active, .todolist__edit-btn:active, .todolist__get-btn:active{
    background-color: #4c82ce;
}

.todolist__edit-btn{
    border-radius: 0px;
}

.todolist__edit-btn::before, .todolist__get-btn:before, .todolist__del-btn:before, .todolist__done-btn:before, .todolist__return-btn:before{
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-image: url(/images/edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

.todolist__get-btn{
    width: 30px;
    border-radius: 0px;
}

.todolist__get-btn:before{
    background-image: url(/images/get.svg);
}

.todolist__del-btn:before{
    background-image: url(/images/delete.svg);
}

.todolist__return-btn{
    border-radius: 0px;
}

.todolist__return-btn:before{
    background-image: url(/images/refresh.svg);
}

.todolist__done-btn:before{
    background-image: url(/images/done.svg);
}

.todolist__title{
    font: 35px/39px 'Quicksand', sans-serif;;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.todolist__top{
    margin: 0 0 25px 0;
}

.todolist__add{
    max-width: 450px;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4c82ce;
    border-radius: 25px;
}

.todolist__list, .doing__list, .done__list{
    width: 100%;
    padding: 0;
    counter-reset: item;
    list-style-type: none;
    align-self: start;
}

.todolist__item, .doing__item, .done__item{
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 30px 30px 35px;
    align-items: center;
    margin: 0 0 18px 0;
    padding:5px 5px 5px 14px; 
    white-space: pre-line;
    border-radius: 20px;
    background-color: #fff;
    color: #3871c1;
    position: relative;
    box-shadow: 4px 6px 2px 1px rgb(54 54 57 / 20%)
}

.doing__item{
    grid-template-columns: 1fr 30px 35px;
}

.done__item{
    grid-template-columns: 1fr 35px;
}

.todolist__task{
    max-width: 290px;
    border: none;
    margin: 0;
}

.todolist__item::before, .doing__item::before {
    font: 15px/19px 'Quicksand', sans-serif;
    content: counter(item) "";
    counter-increment: item; 
    position: absolute;
    top: 5px;
    left: -17px;
    color:#fff;
}

.todolist__item::after, .doing__item::after {
    content: ".";
    position: absolute;
    top: 1px;
    left: -5px;
    color:#fff;
}

.done{
    background-color: rgb(105, 236, 5);
    text-decoration: line-through;
}

.editing{
    background-color: rgb(105, 236, 5);
}

.error {
    border-color: rgb(255, 145, 0);
    border-right: 2px solid rgb(255, 145, 0);
}

.todolist__error-message{
    font: 20px/24px 'Quicksand', sans-serif;
    font-weight: 300;
    color: #fff;
}

.todolist__error-message_disabled{
    font: 20px/24px 'Quicksand', sans-serif;
    font-weight: 300;
    color: #fff;
    visibility: hidden;
}

.todolist__error-message_active{
    visibility: visible;
}

.error-message__text{
    margin: 0;
    padding: 5px 0 5px 0;
}


.menu{
    padding: 5px 60px 5px 10px;
    background-color: #4c82ce;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.clock{
    font-size: 16px;
    font-weight: 500;
}

.form-check-label{
    font: 15px/19px 'Quicksand', sans-serif;
}

.form-check-input:checked {
    background-color: rgb(105, 236, 5);
    border-color: rgb(105, 236, 5);
}

.clock{
    font: 15px/19px 'Quicksand', sans-serif; 
}


.todolist__bot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:25px;
    text-align: center;  
}

.newtasks, .doingtasks, .donetasks{
    min-height: 300px;
    border-radius: 25px;
    background-color: #4c82ce;
    padding: 20px 30px 20px 30px;
}

.tasks__title{
    font: 19px/21px 'Quicksand', sans-serif;
    font-weight: 300;
    margin: 0 0 25px 0;
}

.todolist__task{
    font: 12px/16px 'Quicksand', sans-serif;
}

.form-check-input{
    width: 0.7em;
    height: 0.7em;
    margin-top: 0.1em;
}

.menu__input{
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
}